#sidebar {
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  max-width: 25vw;
  padding: 2vh 2vw;
  overflow-y: scroll;
  background-color: lightgray;
}

.sidebar-name {
  padding: 1%;
}

.sidebar-name > a {
  text-transform: capitalize;
  border: none;
  background-color: unset;
  color: rgb(97, 96, 96);
  width: 100%;
  text-align: left;
}

.sidebar-name:hover > a {
  color: red;
}

.sidebar-name:hover {
  background-color: wheat;
}

.item-highlighted,
.not-highlighted {
  text-transform: capitalize;
}

.item-highlighted {
  color: red;
  background-color: lightgray;
}

.not-highlighted {
  color: black;
  background-color: white;
}
