#sidebar {
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  max-width: 25vw;
  padding: 2vh 2vw;
  overflow-y: scroll;
}

.sidebar-name {
  text-transform: capitalize;
  padding: 1%;
}

.sidebar-name:hover {
  background-color: wheat;
}
