/* TODO FORMFACTOR */

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 30vw;
  overflow-y: scroll;
  background-color: #f81515;
}

#sidebar > p {
  font-size: 1.35em;
  margin: 1.5vh auto;
  color: white;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  margin: 0 2vw;
}

.sidebar-id {
  margin-right: 0.5em;
}

.sidebar-link {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.15em;
  border: none;
  background-color: unset;
  color: white;
  text-align: left;
  padding: 0.3em 0;
}

.sidebar-link:hover {
  color: red;
  background-color: white;
}

/*Phone form fit*/
@media only screen and (max-width: 600px) {
  #sidebar {
    display: none;
  }
}

/* Portrait Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #sidebar {
    max-width: unset;
    width: 35vw;
  }

  .sidebar-link {
    font-size: 1.25em;
    padding: 0.5em 0;
  }
}

/* Landscape Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #sidebar {
    max-width: unset;
    width: 35vw;
  }

  .sidebar-link {
    font-size: 1.2em;
    padding: 0.35em 0;
  }
}
