#pokedex {
  background-color: #dadada;
  width: 25%;
  height: 65%;
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 0;
}

#pokedex-content {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

#id-text {
  margin: 5% 2%;
}

#display {
  background-color: #727272;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  border-radius: 7px;
}

#display img {
  /* size of largest img*/
  width: 128px;
  height: 128px;

  /* nearest-neighbor upscaling, which is good for pixel art */
  image-rendering: crisp-edges;
  margin: auto;
  margin-bottom: 0;
}

#stats {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  background-color: #cbcbcb;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: 10%;
  height: 35%;
  font-size: 1.5em;
  border-radius: 7px;
}

.stat-col {
  list-style: none;
  margin: auto;
  width: 50%;
}

#stat-right {
  text-transform: capitalize;
}

#buttons {
  display: flex;
  flex-direction: row;
  margin: 4% auto;
  width: 100%;
}

#buttons a {
  text-decoration: none;
  color: #4e004e;
  background-color: #e27be2;
  padding: 5.5%;
  border-radius: 10px;
  margin: auto;
}

#buttons a:hover {
  background-color: #4e004e;
  color: #aca8a8;
}

#buttons a:last-of-type {
  margin-left: 3em;
}

.type {
  text-transform: capitalize;
  color: white;
  border-radius: 6px;
  padding: 6px;
  min-width: 80px;
  text-align: center;
}

#types {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 0;
  font-size: 1.32em;
}

/* type letter colorings below */
.normal {
  background-color: #a8a878;
}
.fighting {
  background-color: #c03028;
}
.flying {
  background-color: #6d5e9c;
}
.poison {
  background-color: #8b378b;
}
.ground {
  background-color: #e0c068;
}
.rock {
  background-color: #b8a038;
}
.bug {
  background-color: #a8b820;
}
.ghost {
  background-color: #705898;
}
.steel {
  background-color: #b8b8d0;
}
.fire {
  background-color: #f08336;
}
.water {
  background-color: #6890f1;
}
.grass {
  background-color: #7ccd6b;
}
.electric {
  background-color: #fad430;
}
.psychic {
  background-color: #f85888;
}
.ice {
  background-color: #98d8d8;
}
.dragon {
  background-color: #7038f8;
}
.dark {
  background-color: #705848;
}
.fairy {
  background-color: #ee99ac;
}
.unknown {
  background-color: #68a090;
}
