/* TODO FORMFACTOR */

#search-container {
  margin: auto;
}

#search-box {
  padding: 1em;
  border: 2px dashed lightgray;
  border-radius: 4px;
}

#search-box:focus,
#search-box:hover {
  border-color: gray;
}

#search-box:focus {
  border-style: solid;
}

.menu {
  position: absolute;

  /* Have autocomplete results fit size of input box */
  /* unprefixed */
  width: stretch;
  /* For Chrome */
  width: -webkit-fill-available;
  /* For Firefox */
  width: -moz-available;
}

.item {
  font-size: 1.2em;
  padding-left: 4%;
  border: 1px solid lightgray;
}

.item:nth-of-type(n + 16) {
  /* limit to 15 results */
  display: none;
}
